*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: monospace;
    border: none;
  
}
#home-main{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-block:7rem 0;
}


#home-main .project {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    justify-content:space-evenly;
   margin: 3rem;
    gap:4rem; */
    position: relative;
    width: 60%;
    height: 450px;
    margin: auto;
    top: 1rem;
    overflow: hidden;
}
#home-main .project-pic{
    transition: all 0.4s;
    position:absolute;
    overflow: hidden;
    height:auto;
    width:100%;
    height: 100%;
    border-radius:10px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
   border: 1px solid black;
}

.nav {
    text-align: center;
    margin-top: 15px;
}

.nav button:first-child{
    position: absolute;
    color:red;
    font-size:4rem;
    left:20rem;
    top: 32rem;
    font-weight: 900;
    background-color: rgb(192, 182, 182);
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.nav button:last-child{
    position: absolute;
    color:red;
    font-size:4rem;
    right: 20rem;
    top: 32rem;
    font-weight: 900;
    background-color: rgb(192, 182, 182);
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#home-main .project-pic img {
    width: 100%;
    height: 90%;
    padding:10px;
    border-radius: 20px;
}

.classes_content button {
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    background: transparent;
    background-color: white;
 
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.classes_content button:hover {
    background-color: white;
    box-shadow: 0 0 20px white, 0 0 20px white;
   border: 2px solid rgb(224, 148, 7);
    border: none;
}
.classes_content button a{
    transition: all 0.4s ease-in-out;
}
.classes_content button:hover a{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.classes_content {
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    background-image: linear-gradient(to top, rgb(64, 129, 226), transparent 80% 0%);
    transition: all 0.7s ease;

}

#home-main .classes_content p{
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 600;
    color: antiquewhite;
    padding: 0 2rem;
}
#home-main .project-pic:hover .classes_content {
    bottom: 0%;

}
#home-main .Proj{
    position: sticky;
    font-size: 2.5rem;
    color: black;
    text-align: center;
    font-weight: 700;
   padding-block:0 2rem ;
    border-bottom: 2px solid rgba(31, 29, 29, 0.39);
}
#home-main .yoga{
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding: 10px;
    bottom:-11px ;
    letter-spacing: 0.1rem;
}
.covid{
    position: absolute;
    color:white;
    font-weight: 900;
    font-size:2rem;
    padding:10px;
   bottom:-11px;
}
.click #icon{
   display:none;
}
.click{
   display:none;
}
.nav-list a{
    color: black;
    text-decoration: none;

}
@keyframes click {
    0%{
       
        transform: translate(0);
    }
    50%{   
        transform: translateY(-15px);
    }
    100%{    
        color: rgb(64, 238, 215);
        transform: translate(0);
    }
}
/* Responsive */
@media (max-width:1024px) {
    #home-main .project{
        width: 60%;
        height: 400px;
    }
}
@media (max-width:910px) {
    #home-main .project{
        width: 60%;
        height: 350px;
    }
    .nav button:first-child{
        left:10rem;
        top: 30rem;   
    }
    
    .nav button:last-child{
        right:10rem;
        top: 30rem;
    }
    
}

@media (max-width:630px) {
    #home-main .project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, auto));    
    }
    #home-main .project-pic p{
        font-size:1.5rem;
    }
    #home-main .project-pic  .classes_content p{
     font-size:1.5rem;  
    }
    .Proj{
        color:black;
    }
    #home-main .project{
        width: 60%;
        height: 300px;
    }
    .nav button:first-child{
        left:7rem;
        top: 30rem;   
    }
    
    .nav button:last-child{
        right:7rem;
        top: 30rem;
    }
    
}
@media (max-width:450px){
    .project-pic p{
        font-size:1.9rem;
    }
    .project-pic  .classes_content p{
        font-size:1rem;
          
    }
    #home-main .project{
        width: 80%;
        height: 220px;
    }
    .nav button:first-child{
        left:0.5rem;
        top:25rem;   
    }
    
    .nav button:last-child{
        right:0.5rem;
        top: 25rem;
    }
   }
